@import url("../../meta.css");

.Home {
  position: relative;
  width: 100%;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* border: 1px solid; */
}

.heading-container {
  position: relative;
  width: 100%;
  /* height: fit-content; */
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  position: relative;
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-image {
  position: relative;
  width: 100%;
  /* border: 1px solid;s */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  width: 100%;
}

.Title {
  position: relative;

  font-size: 4em;
  letter-spacing: 5px;
  font-weight: 700;
  color: var(--brand-color);
}

.tagline {
  position: relative;
  top: 5px;
  font-size: 20px;
  color: var(--small-text);
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.get-start-btn {
  position: relative;
  padding: 8px 15px;
  top: 15px;
  font-size: 16px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--google-red);
  color: var(--white);
  border: 2px solid var(--google-red);
  cursor: pointer;
}

.get-start-btn:hover {
  background: var(--white);
  color: var(--google-red);
}

.sign-icon {
  margin-right: 5px;
  width: 25px;
  height: 25px;
  transition: 0s;
}

.link {
  text-decoration: none;
}

@media (max-width: 950px) {
  .Title {
    font-size: 3em;
    letter-spacing: 4px;
  }
  .tagline {
    font-size: 18px;
  }
}

@media (max-width: 765px) {
  .Title {
    font-size: 2.5em;
    letter-spacing: 3px;
  }
  .tagline {
    font-size: 18px;
  }
}

@media (max-width: 725px) {
  .Home {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
  .heading {
    top: 0px;
    margin-bottom: 50px;
  }
  .heading-container {
    order: 2;
  }
  .hero-image {
    order: 1;
  }
  .hero-image img {
    width: 80%;
  }
}

@media (max-width: 375px) {
  .Title {
    font-size: 2em;
    letter-spacing: 2px;
  }
  .tagline {
    font-size: 16px;
  }
}
