@import url("../../meta.css");

.ContactList {
  position: relative;
  width: 100vw;
  height: auto;
  /* padding: 10px 35px; */
  padding-top: 50px;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
.Card {
  overflow: hidden;
  height: 150px;
}
.empty-description {
  position: relative;
  left: -50px;
  width: 60%;
  font-size: 18px;
  font-weight: 500;
  color: var(--font-color);
}

.add-contact {
  position: absolute;
  right: -50px;
  width: 200px;
  height: 200px;
  font-size: 50px;
  border: 1px solid;
  border-radius: 50%;
  color: var(--white);
  background: var(--brand-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-icon {
  position: relative;
  left: -20px;
  width: 50px;
  height: 50px;
}

.link {
  width: auto;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@media (max-width: 415px) {
  .link {
    width: 100%;
  }
}
