@import url("./meta.css");
.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background: var(--background-color);
  overflow-x: hidden;
}
